<div growl style="position: fixed; float: right; top:50px; right: 10px;"></div>

<style type="text/css">
    table>tbody>tr>td{
        padding: 3px !important;
    }
</style>
<div class="row" ng-init="doFilter(1, itemPerPage)">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="filter-area">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-10">

                    <div class="form-inline" style="display: flex; flex-wrap: wrap; gap: 8px; align-items: center;">

                        <date-range-picker from-date="search.from_date" to-date="search.to_date">
                        </date-range-picker>

                        <autocomplete-input
                                ng-model="search.voucher_no"
                                fetch-suggestions="getVoucherSuggestions(query)"
                                placeholder="Voucher No">
                        </autocomplete-input>

                        <dropdown-input type="Voucher Status" model="search.status"></dropdown-input>

                        <filter-button
                                click-action="doFilter(1, itemPerPage)"
                                title="Run Filter"
                                label="Filter">
                        </filter-button>

                    </div>
                </div>

                <voucher-create-button state="{{JCOMPONENT.acc_transfer_voucher_add_view}}"></voucher-create-button>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <voucher-table
                        data="data"
                        toggle-details="toggleDetails(obj)"
                        show-edit-form="showEditForm(obj)"
                        voucher-preview="voucherPreview(id)"
                        voucher-status="voucher_status">
                </voucher-table>

                <div sarker-pagination item-count="data.itemCount" item-per-page="itemPerPage" selected-page="currentPage" get-items="getDataList(pageNumber, itemPerPage)"></div>
            </div>
        </div>
    </div>
</div>