
<div growl style="position: fixed; float: right; top:50px; right: 10px;"></div>

<div class="row" ng-init="getCoaList()">

    <div class="col-sm-2 col-md-2 col-lg-2">&nbsp;</div>

    <div class="col-sm-9 col-md-9 col-lg-9">

        <div class="widget-box">

            <div class="widget-header row">
                <!-- Left: Title -->
                <div class="col-sm-4">
                    <h4 class="widget-title">
                        {{page_name}}
                    </h4>
                    <p class="subtitle">Record expenses or outgoing payments</p>
                </div>

                <!-- Center: Voucher Info -->
                <div class="col-sm-6" >
                    <span class="widget-toolbar pull-left">
                        <span style="color: #00689c; font-weight: normal;">Voucher No:</span>
                        <strong style="color: black;">{{module.voucherNo}}</strong>
                        &nbsp;&nbsp;
                    </span>
                    <!--<span class="widget-toolbar pull-left">
                        <span style="color: #00689c; font-weight: normal;">Voucher Date:</span>
                        <strong style="color: black;">{{module.voucherDate | date: 'dd-MM-yyyy'}}</strong>
                    </span>-->
                </div>

                <!-- Right: Back Button -->
                <div class="col-sm-2 text-right">
                    <span class="widget-toolbar pull-right">
                        <a class="btn btn-sm btn-primary" ui-sref="{{JCOMPONENT.acc_debit_voucher_list_view}}">
                            <i class="ace-icon fa fa-backward"></i> Back
                        </a>
                    </span>
                </div>
            </div>


            <div class="widget-body">
                <div class="widget-main">
                    <form ng-submit="saveModule()">

                        <div class="widget-main">
                            <div class="row ">

                                <div class="col-xs-12 col-md-2">
                                    <voucher-date-picker
                                            ng-model="module.voucherDate"
                                            label="Date"
                                            required="true"
                                            block-typing="true">
                                    </voucher-date-picker>
                                </div>

                                <div class="col-xs-12 col-md-2">
                                    <payment-type-selector
                                            ng-model="module.paymentType"
                                            on-change="selectPaymentType(paymentType)">
                                    </payment-type-selector>
                                </div>

                                <div class="col-xs-12 col-md-7">
                                    <particulars-field ng-model="module.particulars"></particulars-field>
                                </div>

                                <bank-info-section
                                        selected-bank-account="selectedBankAccount"
                                        module="module"
                                        is-bank-hide="isBankHide"
                                        fetch-bank-account="fetchBankAccount(params)"
                                        on-bank-account-change="onBankAccountChange(item)">
                                </bank-info-section>
                            </div>
                        </div>

                        <br>

                        <div class="widget-body">
                            <voucher-details-form
                                    selected-coa="selectedCoa"
                                    selected-sub-coa="selectedSubCoa"
                                    voucher-details="voucher_details"
                                    particulars-div-class-var="particularsDivClassVar"
                                    is-sub-acc-hide="isSubAccHide"
                                    details-add-btn-hide="detailsAddBtnHide"
                                    details-edit-btn-hide="detailsEditBtnHide"
                                    fetch-chart-of-accounts="fetchChartOfAccounts(params)"
                                    fetch-sub-accounts="fetchSubAccounts(params)"
                                    on-chart-of-accounts-change="onChartOfAccountsChange(item)"
                                    on-sub-account-change="onSubAccountChange(item)"
                                    add-to-grid="addToGrid()"
                                    edit-to-grid="editToGrid()">
                            </voucher-details-form>
                        </div>

                        <div class="widget-body">
                            <voucher-details-table
                                    voucher-details-list="voucher_details_list"
                                    on-row-edit="rowDataPopulate(details, index)"
                                    on-row-delete="deleteRow(index)">
                            </voucher-details-table>
                        </div>

                        <div class="row  ">
                            <div class="col-xs-12 col-md-8">
                                <label>Amount(In words): </label>
                                <input style="font-weight:bold" class="form-control" type="text"  name="amountInWords" id="amountInWords" placeholder="Amount in Words" readonly="readonly"/>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-actions pull-right">

                                    <button type="button" ui-sref="{{JCOMPONENT.acc_debit_voucher_list_view}}" ng-show="true" class="btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-close"></i>Cancel
                                    </button>

                                    <span class="btn-divider" ng-show="current_state === JCOMPONENT.acc_debit_voucher_add_view"></span>

                                    <button type="button" ng-show="current_state === JCOMPONENT.acc_debit_voucher_add_view" class="btn btn-sm btn-warning" ng-click="resetForm()">
                                        <i class="ace-icon fa fa-recycle"></i>Reset
                                    </button>

                                    <span class="btn-divider"></span>

                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-check-circle"></i>
                                        <span ng-if="current_state === JCOMPONENT.acc_debit_voucher_add_view" >Save</span>
                                        <span ng-if="current_state === JCOMPONENT.acc_debit_voucher_update_view" >Update</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>

</div>