<div growl style="position: fixed; float: right; top:50px; right: 10px;"></div>

<style type="text/css">
    table>tbody>tr>td{
        padding: 3px !important;
    }
</style>
<div class="row" ng-init="doFilter(1, itemPerPage)">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="filter-area">

            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-10">

                    <div class="input-group width170 date" id="fromDate" style="float: left; margin-right: 8px;">
                        <input type="text"
                               class="form-control"
                               placeholder="From Date"
                               ng-model="fromDate"
                               formatted-date-picker />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar-check-o" style="color:#3C8DBC;"></i>
                        </span>
                    </div>

                    <div class="input-group width170 date" id="toDate" style="float: left; margin-right: 8px;">
                        <input type="text"
                               class="form-control"
                               placeholder="To Date"
                               ng-model="toDate"
                               formatted-date-picker />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar-check-o" style="color:#3C8DBC;"></i>
                        </span>
                    </div>

                    <div class="input-group width200" style="float: left; margin-right: 8px;">
                        <autocomplete ng-model="search.transactionId"
                                      fetch-suggestions="getTransactionSuggestions(query)"
                                      placeholder="Transaction No">
                        </autocomplete>
                        <span class="input-group-addon">
                            <i class="fa fa-search" style="top: 10px; left: 10px; color: gray;"></i>
                        </span>
                    </div>

                    <div class="input-group width110"  style="float: left; margin-right: 8px;">
                        <appcode-dropdown
                                type="Inventory Status"
                                model="search.status">
                        </appcode-dropdown>
                    </div>

                    <div class="input-group width110"  style="float: left; margin-right: 8px;">
                        <appcode-dropdown
                                type="Inventory Action"
                                model="search.action">
                        </appcode-dropdown>
                    </div>

                    <div class="input-group width110" style="float: left; margin-right: 8px;">
                        <div class="btn-group" style="float: right;">
                            <button ng-click="doFilter(1, itemPerPage)" class="btn btn-warning btn-sm" title="Filter now">
                                <i class="icon fa fa-search"></i> Filter</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-2 col-lg-2">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-success" ng-click="inventoryMovementPost()">
                            <i class="ace-icon fa fa-upload"></i> Inventory Post
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <input
                                    type="checkbox"
                                    ng-model="selectAll"
                                    ng-click="checkAll()" />
                        </th>
                        <th ng-hide="true">ID</th>
                        <th ng-click="sortBy('transactionId')" style="cursor: pointer;">
                            Transaction No
                            <i class="fa"
                               ng-class="{
                                   'fa-sort': orderByField !== 'transactionId',
                                   'fa-sort-asc': orderByField === 'transactionId' && !reverseSort,
                                   'fa-sort-desc': orderByField === 'transactionId' && reverseSort
                               }"></i>
                        </th>
                        <th ng-click="sortBy('transactionDate')" style="cursor: pointer;">
                            Transaction Date
                            <i class="fa"
                               ng-class="{
                                   'fa-sort': orderByField !== 'transactionDate',
                                   'fa-sort-asc': orderByField === 'transactionDate' && !reverseSort,
                                   'fa-sort-desc': orderByField === 'transactionDate' && reverseSort
                               }"></i>
                        </th>
                        <th>Remarks</th>
                        <th ng-hide="true">warehouse</th>
                        <th>Inventory Action</th>
                        <th class="text-center">Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="master in data.items | orderBy:orderByField:reverseSort track by $index"
                        ng-click="toggleDetails(master)"
                        ng-class="{'success': master.showDetails}"
                        style="cursor: pointer;">

                        <td style="width: 20px;text-align: center;">
                            <input type="checkbox" ng-model="master.selected" ng-click="$event.stopPropagation()">
                        </td>
                        <td ng-hide="true">{{master.id}}</td>
                        <td style="width: 150px;text-align: center;">
                            <i class="fa" ng-class="{'fa-chevron-down': master.showDetails, 'fa-chevron-right': !master.showDetails}"></i>
                            {{master.transactionId}}
                        </td>
                        <td style="width: 170px;text-align: center;">
                            {{master.transactionDate | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>{{master.remarks}}</td>
                        <td ng-hide="true" style="width: 140px;text-align: center;">{{master.warehouse}}</td>
                        <td style="width: 140px;text-align: center;">
                            <span class="status-label"
                                  ng-class="{
                                      'issue': master.action === 'ISSUE',
                                      'receipt': master.action === 'RECEIPT',
                                      'transfer': master.action === 'TRANSFER'
                                    }">
                                {{ master.action }}
                            </span>
                        </td>
                        <td style="width: 140px;text-align: center;">
                            <span class="status-label"
                                  ng-class="{
                                      'delivered': master.status === 'DELIVERED',
                                      'open': master.status === 'OPEN'
                                    }">
                                {{ master.status }}
                            </span>
                        </td>
                        <td style="width: 170px;text-align: center;">
                            <button
                                    class="btn btn-sm btn-warning btn-no-border btn-round"
                                    ng-click="showEditForm(master)"
                                    ng-if="master.status===receive_status">
                                <i class="ace-icon fa fa-edit"></i> Edit
                            </button>
                            <button
                                    class="btn btn-sm btn-primary btn-no-border btn-round"
                                    ng-click="$event.stopPropagation(); preview()">
                                <i class="ace-icon fa fa-check-circle"></i> Preview
                            </button>
                        </td>
                    </tr>

                    <tr ng-repeat-end ng-show="master.showDetails">
                        <td colspan="6" style="text-align: center;">
                            <div class="fixed-width-div">
                                <table class="table table-sm table-striped table-bordered mb-0">
                                    <thead class="bg-secondary text-white">
                                    <tr>
                                        <th>#</th>
                                        <th>Item Name & Code</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="detail in master.details track by $index">
                                        <td>{{ $index + 1 }}</td>
                                        <td class="text-left">{{ detail.itemNameCode }}</td>
                                        <td>{{ detail.rate }}</td>
                                        <td>{{ detail.quantity }}</td>
                                        <td>{{ detail.unit || 'pcs' }}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr style="font-weight:bold">
                                        <td></td>
                                        <td>Total</td>
                                        <td></td>
                                        <td style="text-align: center;"><strong>{{ getItemDetailsTotalQty(master) }}</strong></td>
                                        <td></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr ng-if="data.items.length===0">
                        <td colspan="7" class="text-center"><h3>No transaction found!!!</h3></td>
                    </tr>
                    </tbody>
                </table>
                <div sarker-pagination item-count="data.itemCount" item-per-page="itemPerPage" selected-page="currentPage" get-items="getDataList(pageNumber, itemPerPage)"></div>
            </div>
        </div>
    </div>
</div>