<div growl style="position: fixed; float: right; top:50px; right: 10px;"></div>

<div class="row" ng-init="init()">

    <div class="col-sm-1 col-md-1 col-lg-1" >&nbsp;</div>

    <div class="col-sm-6 col-md-6 col-lg-6">

        <div class="widget-box">
            <div class="widget-header row">
                <!-- Left: Title -->
                <div class="col-sm-10">
                    <h4 class="widget-title">
                        {{page_name}}
                    </h4>
                    <p class="subtitle">Chart of Accounts Management</p>
                </div>

                <!-- Right: Back Button -->
                <div class="col-sm-2 text-right">
                    <span class="widget-toolbar pull-right">
                        <a class="btn btn-sm btn-primary" ui-sref="{{JCOMPONENT.acc_chart_of_accounts_list_view}}">
                            <i class="ace-icon fa fa-backward"></i> Back
                        </a>
                    </span>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <form ng-submit="saveChartOfAccounts()">
                        <div class="row">
                            <div class="col-md-10" style="margin-left: 50px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Account Code</label>
                                        <input class="form-control" type="text" id="accountsCode" ng-model="module.accountsCode" placeholder="Account Code" readonly/>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom: 15px">
                                        <label>Name</label>
                                        <input class="form-control" type="text" id="accountsName" ng-model="module.accountsName" placeholder="Name" required />
                                    </div>

                                    <div class="col-md-12" style="margin-bottom: 15px">
                                        <radio-group label="Account Type"
                                                     required="true"
                                                     options="accountsTypeList"
                                                     model="module.accountsType"
                                                     on-change="accountsTypeChange(value)"
                                                     name="accountsType">
                                        </radio-group>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom: 15px">
                                        <radio-group label="Account Usage"
                                                     required="true"
                                                     options="accountsUsageList"
                                                     model="module.accountsUsage"
                                                     on-change="accountsUsageChange(value)"
                                                     name="accountsUsage">
                                        </radio-group>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom: 15px">
                                        <radio-group label="Account Source"
                                                     required="true"
                                                     options="accountsSourceList"
                                                     model="module.accountsSource"
                                                     on-change="accountsSourceChange(value)"
                                                     name="accountsSource">
                                        </radio-group>
                                    </div>

                                    <div class="col-md-6" style="margin-bottom: 15px">
                                        <label>Account Group </label>
                                        <appcode-dropdown-coa-group
                                                type="module.accountsType"
                                                ng-model="accountGroup"
                                                placeholder="-- Select {{ module.accountsType }} --">
                                        </appcode-dropdown-coa-group>
                                    </div>

                                    <div class="col-md-12">
                                        <label>Status </label><br>
                                        <input type="checkbox" ng-model="module.active" style="margin-left: 15px;">
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-actions pull-right">
                                            <button type="button" ui-sref="{{JCOMPONENT.acc_chart_of_accounts_list_view}}" ng-show="true" class="btn btn-sm btn-danger">
                                                <i class="ace-icon fa fa-close"></i> Cancel
                                            </button>

                                            <span class="btn-divider" ng-show="current_state === JCOMPONENT.acc_chart_of_accounts_add_view"></span>

                                            <button type="reset" ng-show="current_state===JCOMPONENT.acc_chart_of_accounts_add_view" class="btn btn-sm btn-warning">
                                                <i class="ace-icon fa fa-recycle"></i> Reset
                                            </button>

                                            <span class="btn-divider"></span>

                                            <button type="submit" ng-if="hasPermission(JMODULE_NAME, JCOMPONENT.acc_chart_of_accounts_add_view) || hasPermission(JMODULE_NAME, JCOMPONENT.acc_chart_of_accounts_update)" class="btn btn-sm btn-primary">
                                                <i class="ace-icon fa fa-check-circle"></i>
                                                <span ng-if="current_state===JCOMPONENT.acc_chart_of_accounts_add_view" >Save</span>
                                                <span ng-if="current_state===JCOMPONENT.acc_chart_of_accounts_update_view" >Update</span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div class="col-sm-5 col-md-5 col-lg-5">

        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">COA Tree</h4>
                <span class="widget-toolbar"></span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row  ">

                        <coa-tree data="coaTree"></coa-tree>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>