<div class="row" ng-init="getDataList()">
    
    <div class="col-sm-2 col-md-2 col-lg-2" >&nbsp;</div>
    
    <div class="col-sm-4 col-md-4 col-lg-4">
        
        <div class="widget-box">
            <div class="widget-header row">
                <div class="col-sm-10">
                    <h4 class="widget-title">
                        {{page_name}}
                    </h4>
                    <p class="subtitle">Common application setup for dropdowns</p>
                </div>

                <div class="col-sm-2 text-right">
                    <span class="widget-toolbar">
                        <a class="btn btn-sm btn-primary" ui-sref="{{JCOMPONENT.app_codes_list_view}}">
                            <i class="ace-icon fa fa-backward"></i> Back
                        </a>
                    </span>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form ng-submit="saveModule()">
                        <div class="row" style="padding-left: 40px; padding-right: 40px;">

                            <div class="col-xs-12">
                                <label>Type <span class="required">*</span></label>
                                <input class="form-control" type="text" id="xtype" ng-model="module.xtype" placeholder="Type" />

                            </div>
                            
                            <div class="col-xs-12">
                                <label>Code <span class="required">*</span></label>
                                <input class="form-control" type="text" id="xcode" ng-model="module.xcode" style="text-transform: capitalize;" placeholder="Code"/>
                            </div>

                            <div class="col-md-12">
                                <label>Description</label>
                                <textarea class="form-control" ng-model="module.description" placeholder="Description"></textarea>
                            </div>

                            <div class="col-md-12">
                                <label>Status </label><br>
                                <input type="checkbox" ng-model="module.active">
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-actions pull-right">

                                    <button type="button" ui-sref="{{JCOMPONENT.app_codes_list_view}}" ng-show="true" class="btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-close"></i>Cancel
                                    </button>

                                    <span class="btn-divider" ng-show="current_state === JCOMPONENT.app_codes_add_view"></span>

                                    <button type="reset" ng-show="current_state === JCOMPONENT.app_codes_add_view" class="btn btn-sm btn-warning" ng-click="reset()">
                                        <i class="ace-icon fa fa-recycle"></i>Reset
                                    </button>

                                    <span class="btn-divider"></span>

                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-check-circle"></i>
                                        <span ng-if="current_state === JCOMPONENT.app_codes_add_view" >Save</span>
                                        <span ng-if="current_state === JCOMPONENT.app_codes_update_view" >Update</span>
                                    </button>
                                </div>
                            </div>
                            
                        </div>        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">

        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Code Tree</h4>
                <span class="widget-toolbar"></span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row  ">

                        <ul>
                            <li ng-repeat="node in tree"
                                ng-include="'/view/application_common/directives/tree_item_renderer.html'">
                            </li>
                        </ul>


                    </div>

                </div>
            </div>
        </div>
    </div>
    

</div>